body {
    background-color: #eeeeee;
    text-align: center;
}

.grid #question {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #5a6772
}

.buttons {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #154886;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: : 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
    text-align: center;
}

#btn0:hover, #btn1:hover, #btn2:hover:, #btn3:hover {
    cursor: pointer;
    background-color: blue;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
